<%# 메인페이지 %>
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type="text/css" href="/public/index.css">
    <title>What To Do?</title>
</head>
<body>

    <div id="neon">
        <h2>LogIn Succesful</h2>
    </div>

            
    <div class="js-clock">
        <div class="logo">
          <h1><span>00:00</span></h1>
        </div>
    </div>

    <div class="outer">
  <div class="inner">
        <div class="lbtn"><label><a href ="/logout.ejs" class="btn"><input type="button" value="Logout"></a></label></div>
  </div>
</div>

    <p class="wwd">
        Today, what will you do
        <span id = "test" style="opacity: 1">GSM</span>thing?
    </p>
        <%if(locals.todo){%>
        <div id = 'todo_div'>
            <p id = 'input_id'></p>
            <span id = 'output'><%=todo%></span>
            <br>
            <p id = 'todo_id'><button id = 'Done' >Finish!</button></p>
        </div>
        <% } else {%>
        <div id = 'todo_div'>
            <p id = 'input_id'><input type = "text" id = 'post_out' name = "todo" placeholder = "Write Down" autocomplete="off"></p>
            <span id = 'output'></span>
            <br>
            <p id = 'todo_id'></p>
        </div>
        <% } %>


        <div class="wimg">
            <img id = "img"  src="">
            <span class = "js-weather"></span><br>
            <span class = "hello_text"><input type = "text" size = "13" id="sc" readonly><%= na %></span>
        </div>

        <script src = "/script/fade_text.js"></script>
        <script src = "/script/text.js"></script>
        <%# <ul class = "js-toDoList"></ul> %>
        <script src = "/script/weather.js"></script>
        <script src = "/script/dodo.js"></script>
        <%# <script src = "/script/todo.js"></script> %>
        <script src = "/script/clock.js"></script>
        <script src = "/script/bg.js"></script>
</body>
</html>